/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



/* p01 */
.p01 {
  background-image: url("./p01/background01.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo{
  position: relative;
  top: 190px;
}

.logo img{
  display: block;
  margin: auto;
}

#logo-round img {
  height: 100px;
}

#logo-words img{
  position: relative;
  top: 3vh;
  height: 30px;
}


.group{
  position: relative;
  top: 350px;
}

.group img{
  display: block;
  margin:auto;
}

#group-photo img{
  height:30vh;
}

@font-face {
  font-family: 'Noto Sans CJK TC Medium';
  src: url('/p01/NotoSansTC-Medium-Alphabetic.woff') format("woff");
}


.group-slogan p{
  color:#ffffff;
  text-align: center;
  font-size: 30pt;
  font-family: 'Noto Sans CJK TC Medium';
  
}

.group-slogan{
}

#group-slogan-author{
  margin-bottom: 186px;
  margin-left: 70vh;
}

#group-slogan-author p{
  font-size: 15pt;
}


/* p02 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Start */
.p02 {
  background-image: url("./p02/background02.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.flexbox {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

img {
  height: 600px;
  margin: 100px 10px 0px 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #FFF;
}

p {
  margin: 15px 10px;
  font-size: 25px;
  font-family: Noto Sans CJK TC;
}

.overlay {
  position: relative;
  margin: 0px 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  opacity: 0.7;
  overflow: hidden;
  width: 340px;
  height: 0px;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 102.5px;
  height: 100px;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: Noto Sans CJK TC;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  transform: translate(-50%, -50%);
  text-align: center;
}

#BinChilling{
  left: 25px;
  position: relative;
}
#SocialWebResearch{
  right: 25px;
  position: relative;
}