html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: SFPRODISPLAY_BOLD;
  src: url(./fonts/SFPRODISPLAYBOLD.otf);
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url(./fonts/SFProDisplay-Heavy.ttf);
}

@font-face {
  font-family: SFProDisplay-Semibold;
  src: url(./fonts/SFProDisplay-Semibold.ttf);
}

#navbar{
  top: 0%;
  position: fixed;
  height: 11.5vh;
  width: 100vw;
  z-index: 1;
  background-color: #BCBCBC;
}

.navbar_logo_container{
  position: absolute;
  top:33%;
  left: 1.875%;
  height: 33%;
  width: 2.1875%;
}

#navbar_logo{
  position: absolute;
  max-height: 4vh;
  width: same-as-height;
}

#navbar_logo_text{
  position: absolute;
  top:42%;
  left: 4.79%;
  max-width: 8.385%;
  max-height: 20%;
}

#navbar_search{
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 15.52%;
  width: 29%;
  height: 39.5%;
  border-radius: 20px;
  background-color: white;
}

#navbar_search_container{
  position: relative;
  left: 5%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar_search_circle_container{  
  width: 10%;
  height: 100%;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar_search_circle{
  position: relative;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-color: #E5E5E5;
  display: inline-block;
}
#navbar_search_text_container{
  position: relative;
  display: flex;
  align-items: center;
  width: 88%;
  top: 0%;
  height: 100%;
}

#navbar_search_text{
  position: relative;
  text-align: left;
  font-size: 2vh;
  color: #E5E5E5;
  font-family: SFPRODISPLAY_BOLD; 
  cursor: default;
}

#navbar_search_table{
  display: none;
  position: relative;
  height: 500%;
  width: 100%;
  top: 20%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#navbar_search_title_container{
  position: relative;
  height: 25.7%;
  width: 100%;
  display:flex;
  justify-content: space-around;
}

#navbar_search_floorprice_container{
  position: relative;
  width: 54%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#navbar_search_time_container{
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#navbar_search_floorprice_text_container{
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar_search_time_text_container{
  position: relative;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar_search_floorprice_text{
  position: relative;
  color: #8C8C8C;
  font-family: SFProDisplay-Semibold;
  font-size: 1.7vh;
}

#navbar_search_time_text{
  position: relative;
  color: #8C8C8C;
  font-family: SFProDisplay-Semibold;
  font-size: 1.7vh;
}

#navbar_search_floorprice_dropdownmenu_container{
  position: relative;
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
}

#navbar_search_time_dropdownmenu_container{
  position: relative;
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
}

.dropdownmenu{
  width: 100%;
  border-radius: 5px;
  display: block;
}

#navbar_search_time_container{
  position: relative;
  width: 32.67%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#navbar_search_table_line{
  position: absolute;
  display: block;
  width: 100%;
  height: 0.7%;
  top: 22%;
  left: 0%;
  background-color: #E5E5E5;
}
#navbar_search_category_align_container{
  position: relative;
  top: 3%;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}
#navbar_search_category_container{
  position: relative;
  width: 91.7%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar_search_category{
  position: relative;
  height: 28%;
  border-radius: 12px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #E5E5E5;
  color: white;
  font-size: 1.6vh;
  font-family: SFPRODISPLAY_BOLD;
}

#navbar_search_category_all{
  width: 12%;
}

#navbar_search_category_art{
  width: 12%;
}
#navbar_search_category_celebrities{
  width: 27%;
}

#navbar_search_category_domainnames{
  width: 33%;
}
#navbar_search_category_music{
  width: 19%;
}
#navbar_search_category_photography{
  width: 27%;
}
#navbar_search_category_sports{
  width: 19%;
}
#navbar_search_category_tradingcards{
  width: 27%;
}
#navbar_search_category_utility{
  width: 19%;
}
#navbar_search_category_virtualworld{
  width: 27%;
}
#navbar_search_category_collectibles{
  width: 27%;
}
#navbar_search_category_gaming{
  width: 19%;
}

#navbar_search_confirm_container{
  position: relative;
  width: 100%;
  height: 12.5%;
  top: 6%;
}

#navbar_search_confirm_btn_container{
  position: absolute;
  height: 100%;
  width: 17%;
  right: 4.15%;
}

#navbar_search_confirm_btn{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border-color: #8C8C8C;
  background-color: white;
  color: #8C8C8C;
  font-size: 1.6vh;
  font-family: SFPRODISPLAY_BOLD;
}

#navbar_function_container{
  position: absolute;
  height: 100%;
  width: 17.34%;
  left: 66%;
  top:0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_function{
  position: relative;
  height: 100%;
  top: 0%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  color: white;
  font-family: SFPRODISPLAY_BOLD; 
}

#navbar_function1{
  width: 40%;
}

#navbar_function2{
  width: 19%;
}

#navbar_function3{
  width: 22.5%;
}

#navbar_vertical_rec{
  position: absolute;
  width: 0.2%;
  height: 32.6%;
  top: 33.87%;
  left: 86%;
  background-color: white;
}

#navbar_signin{
  position: absolute;
  height: 20%;
  top: 38.8%;
  left: 87.5%;
  color: white;
  font-family: SFPRODISPLAY_BOLD; 
}

#navbar_signup{
  position: absolute;
  height: 20%;
  top: 38.8%;
  left: 92.7%;
  color: white;
  font-family: SFPRODISPLAY_BOLD; 
}

.landing_page{
  height: 100vh;
  width: 100vw;
  display: block;
  z-index: 0;
  background-color: #C4C4C4;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
}


.title{
  position: absolute;
  width: 100%;
  height: 6.67%;
  text-align: center;
  font-family: SFProDisplay-Heavy;
  font-size: 5vh;
  color: white;
  
}

.subtitle{
  position: absolute;
  width: 100%;
  height: 3.75%;
  text-align: center;
  font-family: SFPRODISPLAY_BOLD;
  font-size: 2.5vh;
  color: white;
}

#landing_page_01_title{
  top: 22%;
  color: white;
}

#landing_page_01_subtitle{
  top: 30%;
  color: white;
}

#collectibles_view_container{
  position: relative;
  width: 100%;
  height: 47%;
  top: 39%;
  display: flex;
  justify-content: center;
}

#collectibles_view{
  position: relative;
  width: 66%;
  height: 100%;
  top: 0%;
  background-color: white;
  border-radius: 10px;
}

#collectibles_view_circle_left{
  position: absolute;
  top: 40%;
  left: 2.88%;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-color: #E5E5E5;
  display: inline-block;
}

#collectibles_view_circle_right{
  position: absolute;
  top: 40%;
  right: 2.88%;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-color: #E5E5E5;
  display: inline-block;
}

#collectibles_view_upcoming{
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-family: SFProDisplay-Semibold;
  font-size: 2vh;
  color: #C4C4C4;
}

#collectibles_view_date{
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  font-family: SFProDisplay-Semibold;
  font-size: 2.5vh;
  color: #C4C4C4;
}

#collectibles_view_collectibles{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-family: SFProDisplay-Heavy;
  font-size: 4vh;
  color: #C4C4C4;
}

#collectibles_view_info{
  position: absolute;
  top: 42%;
  width: 100%;
  text-align: center;
  font-family: SFPRODISPLAY_BOLD;
  font-size: 2vh;
  color: #C4C4C4;
}

#collectibles_view_more{
  position: absolute;
  top: 0%;
  width: 20%;
  height: 100%;
  border-radius: 30px;
  background-color: #C4C4C4;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: SFPRODISPLAY_BOLD;
  font-size: 2.4vh;
  color: white;
}

#collectibles_view_more_container{
  position: relative;
  top: 55%;
  width: 100%;
  height: 13.77%;
  display: flex;
  justify-content:center;
}

.selections_rec{
  position: relative;
  width: 18%;
  height: 10%;
  background-color: #E5E5E5;
  border-radius: 5px;
}

#collectibles_view_selections_bar{
  position: relative;
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#collectibles_view_selections_bar_container{
  position: relative;
  height: 10%;
  width: 100%;
  top: 78%;
  display: flex;
  justify-content: center;
}

#collectibles_view_selections_rec_1{
  background-color: #C4C4C4;
}

#landing_page_02_black{
  position: absolute;
  width: 100%;
  height: 55%;
  top: 28%;
  background-color: black;;
}

#landing_page_02_title{
  top: 22%;
  z-index: 1;
}

#landing_page_02_title{
  top: 20%;
  z-index: 1;
}

#landing_page_02_subtitle{
  top: 32%;
  color: white;
}

#landing_page_02_subscribe_bar_container{
  width: 100%;
  height: 10%;
  position: absolute;
  top: 51%;
  display: flex;
  justify-content:center;
}

#landing_page_02_subscribe_bar{
  width: 43%;
  height: 100%;
  position: absolute;
}

#landing_page_02_subscribe_email{
  width: 79.6%;
  height: 100%;
  position: absolute;
  left: 0%;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#landing_page_02_subscribe_subscribe{
  position: absolute;
  font-family: SFPRODISPLAY_BOLD; 
  color: white;
}

#landing_page_02_subscribe_btn{
  width: 20.4%;
  height: 100%;
  left: 79.6%;
  position: relative;
  background-color: #BCBCBC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing_page_02_info_align_container{
  position: relative;
  width:100%;
  height: 9.16%;
  top: 68%;
  display: flex;
  justify-content: center;
}

#landing_page_02_info_container{
  position: relative;
  width:40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing_page_02_info{
  color: white;
  font-family: SFProDisplay-Semibold;
  font-size: 1.5vh;
  text-align: center;
}

#landing_page_02_agree_align_container{
  position: relative;
  width:100%;
  height: 3%;
  top: 75%;
  display: flex;
  justify-content: center;
}

#landing_page_02_checkbox{
  color: white;
  font-family: SFProDisplay-Semibold;
  font-size: 1.5vh;
  text-align: center;
}

#landing_page_02_agreement{
  color: white;
  font-family: SFProDisplay-Semibold;
  font-size: 1.5vh;
  text-align: center;
}

#top_creators_view_top_selling_container{
  position: relative;
  top: 23.5%;
  width: 100%;
  height: 4.53%;
  display: flex;
  justify-content:center;
}

#top_creators_view_top_selling{
  position: absolute;
  top: 0%;
  width: 12.5%;
  height: 100%;
  border-radius: 20px;
  background-color: black;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: SFPRODISPLAY_BOLD;
  font-size: 1.8vh;
  color: white;
}

#landing_page_03_top_creators_title{
  position: absolute;
  width: 100%;
  height: 6.67%;
  top: 30%;
  font-family: SFPRODISPLAY_BOLD;
  text-align: center;
  color: white;
  font-size: 6vh;
}

#top_creators_view_circle_left{
  position: absolute;
  top: 33.7%;
  left: 81.3%;
  width: 5.5%;
  padding-top: 5.5%;
  border-radius: 50%;
  background-color: #E5E5E5;
  display: inline-block;
}

#top_creators_view_circle_right{
  position: absolute;
  top: 33.7%;
  left: 87%;
  width: 5.5%;
  padding-top: 5.5%;
  border-radius: 50%;
  background-color: #E5E5E5;
  display: inline-block;
}

#top_creators_view_profile_align_container_container{
  position: relative;
  width: 100%;
  height: 49.6%;
  top: 45%;
  display: flex;
  justify-content: center;
}

#top_creators_view_profile_align_container{
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_creators_view_profile_container{
  position: relative;
  height: 100%;
  width: 13.28125%;
}


.top_creators_view_profile_photo{
  position: absolute;
  width: 100%;
  padding-top: 100%;
  top: 0%;
  border-radius: 50%;
  background-color: white;
}

.top_creators_view_profile_name{
  position: absolute;
  width: 100%;
  top: 43%;
  text-align: center;
  color: white;
  font-family: SFProDisplay-Heavy;
  font-size: 3.5vh;
}

.top_creators_view_profile_value_container{
  position: absolute;
  width: 100%;
  height: 30px;
  top: 55%;
}

.top_creators_view_profile_num_container{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #A0A0A0;
  display: flex;
  justify-content:center;
  align-items: center;
}

.top_creators_view_profile_num{
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: SFProDisplay-Heavy;
  font-size: 2vh;
  color: white;
}

.top_creators_view_profile_dollor{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 25%;
  display: flex;
  align-items: center;
  font-family: SFProDisplay-Semibold;
  font-size: 2vh;
  color: white;
}

#privacybar{
  bottom: 0%;
  position: fixed;
  height: 11.5vh;
  width: 100vw;
  z-index: 1;
  background-color: #969696;
}

#privacy_statement_container{
  position: relative;
  width: 53.7%;
  left: 2.1875%;
  height: 100%;
  display: flex;
  align-items: center;
}

#privacy_statement{
  position: absolute;
  text-align: left;
  color: white;
  font-size: 1.6vh;
  font-family: SFProDisplay-Semibold
}

#customize_settings_menu_container_container{
  position: absolute;
  height: 100%;
  width: 30%;
  left: 63%;
  top: 0%;
}

#customize_settings_menu_align_container{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#customize_settings_text_container{
  width: 25.7%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#customize_settings_text{
  position: relative;
  display: flex;
  width: 100%;
  justify-content:flex-end;
  align-items: center;
  color: white;
  font-family: SFProDisplay-Semibold;
  font-size: 1.5vh;
  text-decoration: underline;
}

#customize_settings_disable_container{
  width: 27.25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#customize_settings_disable_text{
  position: relative;
  top:0%;
  width: 100%;
  height: 36.2%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.5vh;
  font-family: SFPRODISPLAY_BOLD;
}

#customize_settings_accept_container{
  width: 27.25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#customize_settings_accept_text{
  position: relative;
  top:0%;
  width: 100%;
  height: 36.2%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.5vh;
  font-family: SFPRODISPLAY_BOLD;
}

#privacybar_close_container{
  width: 1.1%;
  height: 100%;
  top:0;
  right: 2.3%;
  position: absolute;
  display: flex;
  align-items: center;
}

#privacybar_close_btn{
  width: 100%;
  color: white;
  font-size: 2.5vh;
  font-family: SFPRODISPLAY_BOLD;
}

/* Lai */
#landing_page_04_top_collections_title, #landing_page_05_top_collections_title{
  position: absolute;
  width: 100%;
  height: 6.67%;
  top: 4%;
  font-family: SFProDisplay-Heavy;
  text-align: center;
  color: white;
  font-size: 6vh;
}

.top_collect04_top_container{
  display: flex;
  justify-content: space-between;
  padding: 8.5% 11% 0% 9%;
}

span{
  font-family: SFPRODISPLAY_BOLD;
  color: white;
  font-size: 30px;
}

button:nth-child(odd){
  border: 1px solid #fff;
}
button:nth-child(even){
  background-color: #000;
}

select, button{
  font-family: SFProDisplay-Semibold;
  color: white;
  font-size: 24px;
  background-color: #c8c8c8;
  padding: 5px 25px;
  border-radius: 25px;
  margin-left: 15px;
}

.p04_round_card_container{
  margin: 0% 7.5%;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.round_card{
  width: 29%;  
  border-radius: 55px;
  border: 1px solid #fff;
  padding: 15px 25px;
  margin: 1.25% 0%;
  display: flex;
  align-items: center;
}

.landing_page img{
    margin: 0.5px 1.5%;
}

.mark{
  width:70px;
  padding: 2px 15px;
  margin-left: 5px;
  display: inline-block;
  background-image: url("./p0405/Rectangle37_small.png");
}

.paragraph{
  margin-left: 15px;
  display: flex;
  flex-direction:column;
}

.paragraph_1,.paragraph_2{
  margin: 2px 0px;
}

.paragraph_1 img:first-child, .paragraph_2 img:first-child{
  margin-right: 100px;
}

.landing_page_collectibles{
  height: 300vh;
  width: 100vw;
  display: block;
  z-index: 0;
  background-color: #C4C4C4;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
}

.top_collect_05_top_container{
  display: flex;
  justify-content: space-between;
  padding: 14% 11% 0% 9%;
}

#p05_card_container{
  padding: 3% 7.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square_card{
  height: 500px;
  margin-bottom: 3.5%;
}

.image{
  background-color: #E0E0E0;
  width: 345px;
  height: 500px;
  border-radius: 25px;
}

.text{
  background-color: #FFF;
  width: 315px;
  height: 170px;
  position: relative;
  top:-200px;
  border-radius: 0px 0px 25px 25px;
  padding: 15px;
}

.price{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.price img{
  margin: 7.5px;
} 

.row{
  display:flex;
  justify-content: space-evenly;
}

.vertical img{
  display: block;
}
